# Copyright (c) 2020 ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_TPS36_LEFT
	def_bool $(shields_list_contains,tps36_left)

config SHIELD_TPS36_RIGHT
	def_bool $(shields_list_contains,tps36_right)
